<div class="container">
    <h2>Your Information</h2>
  
    <div ng-if="myInfoCtrl.userInfo">
      <p><strong>First Name:</strong> {{ myInfoCtrl.userInfo.firstName }}</p>
      <p><strong>Last Name:</strong> {{ myInfoCtrl.userInfo.lastName }}</p>
      <p><strong>Email:</strong> {{ myInfoCtrl.userInfo.email }}</p>
      <p><strong>Phone:</strong> {{ myInfoCtrl.userInfo.phone }}</p>
      <p><strong>Favorite Dish:</strong> {{ myInfoCtrl.userInfo.favorite }}</p>
  
      <div ng-if="myInfoCtrl.favoriteMenuItem">
        <h3>Your Favorite Menu Item:</h3>
        <img ng-src="images/menu/{{myInfoCtrl.favoriteMenuItem.category_short_name}}/{{myInfoCtrl.favoriteMenuItem.short_name}}.jpg" alt="{{ myInfoCtrl.favoriteMenuItem.name }}" width="150">
        <h4>{{ myInfoCtrl.favoriteMenuItem.name }}</h4>
        <p>{{ myInfoCtrl.favoriteMenuItem.description }}</p>
      </div>
    </div>
  
    <div ng-if="!myInfoCtrl.userInfo">
      <p>Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a></p>
    </div>
  </div>